## Prediction Equation

In [71]:
df_test.sample()

,price,bathrooms,sqft_living,sqft_lot,floors,waterfront,sqft_basement,Good,Poor,Not_Renovated,...,Recently_Renovated,rural,urban,high_density,low_density,mid_density,beds_1,beds_2,beds_3,beds_4+
9,323000.0,2.5,1890.0,6560.0,2.0,0.0,0.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [92]:
predict_price(1.75, 1880, 48787, 2, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1)

333028.3739271456

The actual value is $515,000

In [ ]:
2.5,1890.0,6560.0,2.0,0.0,0.0	1.0	0.0	1.0	...	0.0	1.0	0.0	0.0	1.0	0.0	0.0	0.0	1.0	0.0

In [76]:
value_list5 = df_test.iloc[5].values.tolist()
value_list5

[660000.0,
 3.25,
 3030.0,
 9273.0,
 2.0,
 0.0,
 0.0,
 1.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 1.0,
 0.0,
 0.0,
 0.0,
 0.0,
 1.0]

In [77]:
value_list5[1]

3.25

In [89]:
# making a price prediction function that takes a list

def predict_price2(value_list):
    
    price = ict + (ba * value_list[1]) + (sfl * value_list[2]) + (sft * value_list[3]) + (fl * value_list[4]) + (w * value_list[5]) + (sfb * value_list[6])\
            + (cg * value_list[7]) + (cp * value_list[8]) +  (nr * value_list[9]) + (p2 * value_list[10]) + (rr * value_list[11])\
            + (r * value_list[12]) + (u * value_list[13]) + (hd * value_list[14]) + (ld * value_list[15]) + (md * value_list[16]) + (b1 * value_list[17])\
            + (b2 * value_list[18]) + (b3 * value_list[19]) + (b4 * value_list[20])
    
    return price

In [90]:
predict_price2(value_list5)

762340.9131853528

In [88]:
len(value_list5)

21