## Standardizing the Data

In [47]:
#standardization function will get applied to both df_tr and df_tr_price
def standardize(element, sigma):
    """Changes the mean and standard error"""
    std_element = (element - np.mean(element)) / sigma
    return std_element

In [54]:
# finding std deviation of one column as a test
sigma_bed = df_tr['bedrooms'].std()
sigma_bed

0.9024371117603952

In [64]:
# making a list of the standard deviations of each column
sigmas = [df_tr[col].std() for col in df_tr]
sigmas

[1.0000000000000187,
 0.768533068309458,
 923.8658901689922,
 37632.780592424984,
 0.5405579646162327,
 0.09005985945836892,
 0.6512450303625753,
 832.9893852459454,
 443.5058710499704,
 0.2707940671768969,
 0.11021996735989986,
 0.39273469093103397,
 0.40575939686252493,
 0.0704379751866444,
 0.3811497187699842,
 0.3950738242287047,
 0.12984184622839456,
 0.4858596564449966,
 0.4858596564449966]

In [56]:
# NEED HELP

# Standardizing All Columns at once
# Loop through the dataframe, one column at a time, taking the floats from the sigmas list one at a time

for (col, data) in df_tr.iteritems():
    col.apply(lambda x: standardize(col, i for i in sigmas))

SyntaxError: Generator expression must be parenthesized (<ipython-input-56-599daba0e69c>, line 2)

In [60]:
# Standardizing one Column at a time, as a test
# when the for loop works, the values should match those under bedrooms column below.
df_tr['bedrooms'] = standardize(df['bedrooms'], sigma_bed)

In [61]:
df_tr.head(3)

,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,sqft_above,sqft_basement,living_density,Flat,Hilly,Low_Slope,Steep,Not_Renovated,Prior_to_2000,Recently_Renovated,suburban,urban
0,-0.415486,1.75,2600.0,105587.0,1.0,0.0,4.0,1300.0,1300.0,0.024624,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
1,0.692624,2.75,5470.0,18200.0,2.0,1.0,3.0,3730.0,1740.0,0.300549,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,-1.523597,1.50,1180.0,1034.0,2.0,0.0,3.0,1120.0,60.0,1.141199,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0

In [1]:
# inverse transformation for coefficients

# this was the original transformation:
# std_element = (element - np.mean(element)) / sigma

# the reverse transformation is like this:std_element * sigma + np.mean(element)

SyntaxError: invalid syntax (<ipython-input-1-8379a82257ac>, line 6)